{% extends "layout.html" %}

{% block page_title %}
    Candidate specification
{% endblock %}

{% block sign_in_links %}
    {% include "includes/signout.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" class="vacancy">
    {% include "includes/phase_banner_prototype.html" %}
    <a href="/vacancies/create/1" class="link-back">Back</a>
    <h1 class="heading-large margin-top">
        Publish a vacancy
        <span class="heading-secondary">Step 2 of 3</span>
    </h1>
    <h2 class="heading-medium margin-top">Candidate specification</h2>
    <p class="text">Please provide information about the essential and desirable requirements for the role</p>

    <div class="grid-row margin-top">
        <div class="column-two-thirds">
            {% import "includes/macros/form_fields.html" as form_fields with context %}
            <form action="/vacancies/create/3" method="post" class="form">
                {{ form_fields.textarea('essential_requirements', 'Essential requirements', 'For example qualifications, experience, and/or professional registrations', 5, true) }}
                <h3 class="heading-small margin-top">Desirable requirements</h3>
                {{ form_fields.textarea('education', 'Education', 'Educational background needed for the position') }}
                {{ form_fields.textarea('qualifications', 'Qualifications', 'Specific qualifications required for this role') }}
                {{ form_fields.textarea('experience', 'Experience', 'Expected teaching or other experience') }}
                {{ form_fields.submit('Save and continue') }}
            </form>
        </div>
    </div>
</main>

{% endblock %}


