{% extends "layout.html" %}

{% block page_title %}
    Candidate specification
{% endblock %}

{% block sign_in_links %}
    {% include "includes/signout.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main" class="vacancy">
    {% include "includes/phase_banner_prototype.html" %}
    <a href="/vacancies/create/2" class="link-back">Back</a>
    <h1 class="heading-large margin-top">
        Publish a vacancy
        <span class="heading-secondary">Step 3 of 3</span>
    </h1>
    <h2 class="heading-medium margin-top">Application details</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id.</p>

    <div class="grid-row margin-top">
        <div class="column-two-thirds">
            {% import "includes/macros/form_fields.html" as form_fields with context %}
            <form action="/vacancies/create/confirm" method="post" class="form">
                {{ form_fields.field('vacancy_contact_email', 'Vacancy contact email', 'email', 'The email address of the individual or shared mailbox the applicant should contact about the job', true) }}
                <div class="form-group">
                    <fieldset>
                        <legend><h2 class="heading-small">How would you like candidates to apply?</h2></legend>
                        <div class="multiple-choice" data-target="apply-by-pack">
                            <input id="example-apply-by-pack" type="radio" name="application_method" value="Application pack">
                            <label for="example-apply-by-pack">Application pack</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="apply-by-pack">
                            <p>There are currently <strong class="bold">2 files</strong> included in your application pack.</p>
                            <p><a href="/vacancies/create/upload">Upload files to application pack</a></p>
                        </div>
                        <div class="multiple-choice" data-target="apply-by-external">
                            <input id="example-apply-by-external" type="radio" name="application_method" value="External link">
                            <label for="example-apply-by-external">External application form</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="apply-by-external">
                            <label class="form-label" for="external-link">Link to external application form</label>
                            <input class="form-control form-control-3-4" name="external-link" type="text" id="external-link">
                        </div>
                    </fieldset>
                </div>
                {{ form_fields.date('closes_at', 'Vacancy deadline date', 'The deadline date for receiving applications', true) }}
                {{ form_fields.time('closes_at_time', 'Vacancy deadline time', 'The deadline time for receiving applications') }}
                {{ form_fields.checkbox('publish_today', 'Publish vacancy today', checked('publish_today', '1') if data.publish_today else true) }}
                <div class="panel panel-border-narrow " id="posted_at-panel">
                    {{ form_fields.date('posted_at', 'Vacancy publication date', 'The date the job vacancy should go live') }}
                </div>

                {{ form_fields.submit('Save and continue') }}
            </form>
        </div>
    </div>
</main>

{% endblock %}


