{% extends "layout.html" %}

{% block page_title %}
    Complete
{% endblock %}

{% block sign_in_links %}
    {% include "includes/signout.html" %}
{% endblock %}

{% block navigation_links %}
    {% import "includes/macros/school_navigation.html" as nav %}
    {{ nav.show('vacancies') }}
{% endblock %}

{% block content %}
<main id="content" role="main" class="vacancy">
    {% include "includes/phase_banner_prototype.html" %}
    {% set vacancy = json.vacancies[0] %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight margin-bottom-large">
                <h1 class="heading-large margin-top">Vacancy submitted</h1>
                <p>
                    The system reference number is <br>
                    <strong class="heading-medium">ABC-123-456</strong>
                </p>
            </div>

            {% if data.publish_today %}
                <p>The vacancy has been posted, <a href="{{ vacancy.slug | url('vacancies') }}">view {{ vacancy.title }}</a></p>
            {% else %}
                <p>The vacancy will be posted on <strong class="bold-small">{{ data['posted_at-day'] + '/' + data['posted_at-month'] + '/' + data['posted_at-year'] }}</strong>, <a href="{{ vacancy.slug | url('vacancies') }}">preview {{ vacancy.title }}</a></p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}


