<aside>
    <form action="/vacancies" role="search" id="filters">
        <div class="filter-controls">
            Filter vacancies:
            <div class="clear-filters">
                <a href="/clear-search-data">Clear filters</a>
            </div>
        </div>
        <div class="filter-field-text">
            <div class="container-head js-container-head">
                <div class="option-select-label">Location</div>
            </div>
            <div class="container-search">
                <input id="location" type="search" name="location" placeholder="Town, postcode or region" value="{{ data['location'] }}">
                <div class="search-radius">
                    <label>
                        <input type="radio" name="search_radius_type" class="search-radius" value="Distance" {{ ' checked' if data['search_radius_type'] == 'Distance' or data['search_radius_type'] == null }}> Distance
                    </label>
                    <label>
                        <input type="radio" name="search_radius_type" class="search-radius" value="Commute time" {{ ' checked' if data['search_radius_type'] == 'Commute time' }}> Commute time
                    </label>
                </div>
                <select name="search-radius-distance" id="search-radius-distance" class="form-control form-control-block search-radius">
                    {% for radius in json.search_radius %}
                        {% set selected = ' selected' if data['search-radius-distance'] == radius.km %}
                        <option{{ selected }} value="{{ radius.km }}">{{ radius.label }}</option>
                    {% endfor %}
                </select>
                <select name="search-radius-time" id="search-radius-time" class="form-control form-control-block search-radius">
                    {% for time in json.search_radius_time %}
                        {% set selected = ' selected' if data['search-radius-time'] == time %}
                        <option{{ selected }}>{{ time }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="filter-field-text">
            <div class="container-head js-container-head">
                <div class="option-select-label">Keywords</div>
            </div>
            <div class="container-search">
                <input id="keyword" type="search" name="keyword" placeholder="eg. role or subject" value="{{ data['keyword'] }}">
            </div>
        </div>
        <div class="govuk-option-select" >
            <div class="container-head js-container-head">
                <div class="option-select-label">Salary range</div>
            </div>
            <div class="options-container" id="salary-range">
                <div class="js-auto-height-inner">
                    {% for range in json.salary_range %}
                        <label for="{{ range | slug }}">
                            <input name="salary_ranges[]" value="{{ range }}" id="{{ range | slug }}" type="checkbox"  {{ multiple_checked(range, data['salary_ranges']) }}>
                            {{ range }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="govuk-option-select">
            <div class="container-head js-container-head">
                <div class="option-select-label">Vacancy details</div>
            </div>
            <div class="options-container" id="vacancy-details">
                <div class="js-auto-height-inner">
                    <label for="suitable_for_nqt">
                        <input name="suitable_for_nqt" value="suitable_for_nqt" id="suitable_for_nqt" type="checkbox" {{ checked('suitable_for_nqt', 'suitable_for_nqt') }}>
                        Suitable for NQTs
                    </label>
                    <label for="job_share_available">
                        <input name="job_share_available" value="job_share_available" id="job_share_available" type="checkbox" {{ checked('job_share_available', 'job_share_available') }}>
                        Job share available
                    </label>
                </div>
            </div>
        </div>
        <div class="govuk-option-select" data-closed-on-load="true">
            <div class="container-head js-container-head">
                <div class="option-select-label">Working pattern</div>
            </div>
            <div class="options-container" id="market-sector">
                <div class="js-auto-height-inner">
                    {% for type in json.contract_type %}
                        <label for="{{ type | slug }}">
                            <input name="working_patterns[]" value="{{ type }}" id="{{ type | slug }}" type="checkbox"  {{ multiple_checked(type, data['working_patterns']) }}>
                            {{ type }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="govuk-option-select" data-closed-on-load="true">
            <div class="container-head js-container-head">
                <div class="option-select-label">Education stage</div>
            </div>
            <div class="options-container" id="market-sector">
                <div class="js-auto-height-inner">
                    {% for stage in json.key_stages %}
                        <label for="{{ stage | slug }}">
                            <input name="key_stages[]" value="{{ stage }}" id="{{ stage | slug }}" type="checkbox"  {{ multiple_checked(stage, data['key_stages']) }}>
                            {{ stage }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="govuk-option-select" data-closed-on-load="true">
            <div class="container-head js-container-head">
                <div class="option-select-label">Leadership level</div>
            </div>
            <div class="options-container" id="market-sector">
                <div class="js-auto-height-inner">
                    {% for level in json.leadership_level %}
                        {% if level != 'Not applicable' %}
                            <label for="{{ level | slug }}">
                                <input name="leadership_levels[]" value="{{ level }}" id="{{ level | slug }}" type="checkbox"  {{ multiple_checked(level, data['leadership_levels']) }}>
                                {{ level }}
                            </label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <input type="hidden" name="show_map" value="{% if query.show_map == 1 %}1{% else %}0{% endif %}">
        <input type="hidden" name="search_results" value="1">
        <input class="button" type="submit" value="Apply filters">
    </form>
</aside>
