<div id="map"></div>
<script>
    var vacancies = []
    {% for vacancy in vacancies %}
    vacancies.push({
      school: '{{ json.schools[vacancy.school_id].name }}, {{ json.schools[vacancy.school_id].town }}',
      job_title: '{{ vacancy.title }}',
      link: '{{ vacancy.slug | url('vacancies') }}',
      lng: {{ json.schools[vacancy.school_id].lng }},
      lat: {{ json.schools[vacancy.school_id].lat }},
    })
    {% endfor %}


  var mapInitialized = false

  function initMap() {

    if (!mapInitialized) {
      var bounds = new google.maps.LatLngBounds();
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8
      });
      var geocoder = new google.maps.Geocoder;
      var infos = [];
      var markers = [];
      var infoWindow = new google.maps.InfoWindow();

      {% if query['search-radius-distance'] and query.location %}
        geocoder.geocode({'address': '{{ query.location }}'}, function(results, status) {

          if (results.length > 0) {
            var radiusMarker = new google.maps.Circle({
              center: results[0].geometry.location,
              radius: ({{ query['search-radius-distance'] }} * 1000),
              map: map,
              strokeColor: 'blue',
              strokeWeight: 2,
              fillOpacity: 0.1,
              fillColor: 'blue',
              zIndex: 1
            });

            map.setCenter(results[0].geometry.location)
            map.fitBounds(radiusMarker.getBounds())
          }
        })
      {% endif %}


      for (var x in vacancies) {
        var vacancy = vacancies[x]
        infos[x] = '<h3><a href="'+vacancy.link+'">'+vacancy.job_title+'</a></h3><p><strong>'+vacancy.school+'</strong></p>';
        markers[x] = new google.maps.Marker({
          position: {lat: vacancy.lat, lng: vacancy.lng},
          map: map,
          title: vacancy.job_title
        });
        bounds.extend(markers[x].position);
        google.maps.event.addListener(markers[x], 'click', (function(marker, x) {
          return function() {
            infoWindow.setContent(infos[x]);
            infoWindow.open(map, marker);
          }
        })(markers[x], x));
      }
      map.fitBounds(bounds);
      mapInitialized = true;
    }
  }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}">
</script>
