{% set school_address = [vacancy.school.address, vacancy.school.town, vacancy.school.region, vacancy.school.post_code] %}

<h3 class="heading-medium">About {{ vacancy.school.name }}</h3>
<p>{{ vacancy.school.description }}</p>
<dl class="school-details">
    <dt>Address</dt>
    <dd>{{ school_address | filterEmpty | join(', ') }}</dd>
    <dt>Gender</dt>
    <dd>{{ vacancy.school.gender }}</dd>
    <dt>Phase</dt>
    <dd>{{ vacancy.school.type }}</dd>
    <dt>School age</dt>
    <dd>{{ vacancy.school.school_age }}</dd>
    <dt>Type</dt>
    <dd>{{ vacancy.school.funding_status }}</dd>
    <dt>Website</dt>
    <dd><a href="{{ vacancy.school.website }}" target="_blank">{{ vacancy.school.website }}</a></dd>
</dl>
<p class="margin-top-big"><a href="https://www.compare-school-performance.service.gov.uk/school/136718">School performance and Ofsted results</a></p>
<figure class="map-view">
    <div id="map_zoom"></div>
    <figcaption>
        Map of {{ vacancy.school.name }}. <a href="https://www.google.com/maps/?q={{ vacancy.school.lat }},{{ vacancy.school.lng }}">Open in Google Maps</a>
    </figcaption>
</figure>
<script>

  function initMap() {
    var myLatLng = {lat: {{ vacancy.school.lat }}, lng: {{ vacancy.school.lng}} };

    var map = new google.maps.Map(document.getElementById('map_zoom'), {
      zoom: 17,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '{{ vacancy.school.name }}'
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>
