{% set school_address = [vacancy.school.address, vacancy.school.town, vacancy.school.region, vacancy.school.post_code] %}

<h2 class="heading-medium">About {{ vacancy.school.name }}</h2>
<p>{{ vacancy.school.description }}</p>
<dl class="school-details">
    <dt>Address</dt>
    <dd>{{ school_address | filterEmpty | join(', ') }}</dd>
    <dt>Gender</dt>
    <dd>{{ vacancy.school.gender }}</dd>
    <dt>Phase</dt>
    <dd>{{ vacancy.school.type }}</dd>
    <dt>School age</dt>
    <dd>{{ vacancy.school.school_age }}</dd>
    <dt>Type</dt>
    <dd>{{ vacancy.school.funding_status }}</dd>
    <dt>Website</dt>
    <dd><a href="{{ vacancy.school.website }}" target="_blank">{{ vacancy.school.website }}</a></dd>
</dl>
<p class="margin-top-big"><a href="https://www.compare-school-performance.service.gov.uk/school/136718">School performance and Ofsted results</a></p>
<figure class="map-view">
    <figcaption>
        Map showing location of {{ vacancy.school.name }}. <a href="https://www.google.com/maps/?q={{ vacancy.school.lat }},{{ vacancy.school.lng }}">Open in Google Maps</a>
    </figcaption>
    <div id="map_zoom"></div>

    <div>
      <div class="heading-small">Commute</div>
      <select id="route-mode" class="form-control" style="width: 180px">
        <option value="DRIVING">Driving</option>
        <option value="TRANSIT">Public transport</option>
        <option value="BICYCLING">Cycling</option>
        <option value="WALKING">Walking</option>
      </select>
      from
      <input type="search" id="route-from" class="form-control" style="width: 150px" value="{{ data['location'] }}"/> :
      <span id="directions-duration"></span>
    </div>
</figure>
<script>

  var map, directionsService, directionsDisplay;
  var routeModeSelect = document.getElementById('route-mode')
  var routeFromInput = document.getElementById('route-from')
  var directionsDuration = document.getElementById('directions-duration')
  var myLatLng = {lat: {{ vacancy.school.lat }}, lng: {{ vacancy.school.lng}} };
  var directionsRequestsCount = 0

  function initMap() {
    directionsService = new google.maps.DirectionsService;
    directionsDisplay = new google.maps.DirectionsRenderer;

    map = new google.maps.Map(document.getElementById('map_zoom'), {
      zoom: 17,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: '{{ vacancy.school.name }}'
    });

    showDirections()
  }

  var currentDate = new Date();
  var dayDiffToNextMondey = ( 7 - currentDate.getDay() ) % 7 + 1
  var nextMondayAtStartOfDay = currentDate
  nextMondayAtStartOfDay.setDate(currentDate.getDate() + dayDiffToNextMondey)
  nextMondayAtStartOfDay.setHours(7)
  nextMondayAtStartOfDay.setMinutes(0)


  var showDirections = function() {

    var directionsRequestsCountOnRequest;
    if (map) {
      if (routeFromInput.value != '') {

        directionsRequestsCount += 1
        directionsRequestsCountOnRequest = directionsRequestsCount

        directionsDuration.textContent = 'Calculating'
        directionsDuration.classList.add('loading')

        directionsService.route({
          origin: routeFromInput.value + ", UK",
          destination: myLatLng,
          travelMode: routeModeSelect.value,
          drivingOptions: {
            departureTime: nextMondayAtStartOfDay,
            trafficModel: 'optimistic'
          }
        }, function(response, status) {

          // Check that response is the last one fired
          if (directionsRequestsCount == directionsRequestsCountOnRequest) {
            if (status === 'OK') {
              var duration = response.routes[0].legs[0].duration;
              if (duration) {
                directionsDuration.classList.remove('loading')
                directionsDuration.textContent = duration.text
              }
              directionsDisplay.setMap(map);
              directionsDisplay.setDirections(response);
            } else {
              console.log('Directions request failed due to ' + status);
            }
          }

        });
      } else {
        directionsDuration.textContent = ''
        directionsDisplay.setMap(null)
      }
    }
  }

  var directionsInputTimer = null
  function resetDirectionsTimer(event) {
    if (directionsInputTimer) {
      clearTimeout(directionsInputTimer)
    }
    directionsInputTimer = setTimeout(showDirections, 300)
  }

  routeModeSelect.addEventListener('change', showDirections)
  routeFromInput.addEventListener('change', showDirections)

  routeFromInput.addEventListener('keyup', resetDirectionsTimer)

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>
