// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import '../lib/digitalmarketplace-frontend-toolkit/scss/forms/option-select';
@import '../lib/digitalmarketplace-frontend-toolkit/scss/forms/keyword-search';
@import '../lib/digitalmarketplace-frontend-toolkit/scss/previous-next-navigation';


@import 'utilities';
// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

@import 'components/filters';
@import 'components/vacancies';
@import 'components/vacancy';
@import 'components/pagination';
@import 'components/school-details';
@import 'components/dashboard';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.filter-field-text {
  @extend .govuk-option-select;
  padding:0;
  .container-head {
    padding: 0 0 3px  0;
  }
  .container-search {
    .form-control {
      border: 1px solid $border-colour;
      margin-top: 5px;
      background-color: white;
    }
  }
}
.govuk-option-select {
  margin-bottom: $gutter;
}
.filter-controls {
  font-weight: bold;
  margin-bottom: $gutter-half;
  .clear-filters {
    float: right;
    font-weight: normal;
    font-size: 0.85em;
  }
}
.govuk-previous-and-next-navigation {
  margin-top: $gutter-half;
}

.items-control {
  position: relative;
  margin-top: $gutter-half;
  margin-bottom : $gutter;
  .view-toggle {
    a {
      text-decoration: none;
      //color: $black;
      font-weight: 700;
      i {
        margin-right:4px;
      }
    }
  }
  .sortable-links {
    position: absolute;
    top: 0;
    right: 0;
    @extend .font-xsmall;
    margin-bottom: $gutter;
    a {
      margin: 0 4px;
      &.active {
        font-weight:700;
        text-decoration: none;
        &.sortby--asc:after {
          content: ' \25B4';
        }
        &.sortby--desc:after {
          content: ' \25BE';
        }
      }
    }
  }
}
#map {
  height: 500px;
}
.inline-checkboxes {
  .multiple-choice {
    display: inline-block;
    width: 40%;
    float: none;
  }
}
