{% extends "layout.html" %}

{% block page_title %}
  Vacancies
{% endblock %}

{% block content %}
{% set max = vacancies.length if search_results else 10  %}

<main id="content" role="main">
    {% include "includes/phase_banner_prototype.html" %}

    {% if query.search_results %}
        <a href="/vacancies" class="link-back">Back</a>
        <h1 class="heading-large margin-top">
            Search results
            {% if query.location or query.keyword %}
            for "{{ [query.location, query.keyword] | filterEmpty | join(', ') }}"
            {% endif %}
            {% include 'includes/show_map_toggle.html' %}
        </h1>
        <p class="search-count">We found <strong>{{ vacancies.length }}</strong> {{ 'vacancy' | pluralize(vacancies.length) }} for your search
        </p>
    {%  else %}
        <h1 class="heading-large">
            There are currently 5,603 vacancies
            {% include 'includes/show_map_toggle.html' %}
        </h1>
    {% endif %}

    <div class="grid-row">

        <div class="column-one-third margin-top">
            {% include "includes/filters.html" %}
        </div>
        <div class="column-two-thirds">
            <div class="items-control cf">
                {% if query.show_map != '1' %}
                <div class="sortable-links" role="toolbar" aria-label="Sorting options" aria-controls="vacancies">
                    Sort <span class="sr-only">vacancies</span> by:
                    <a class="sortby--desc active" aria-selected="true" role="button" tabindex="0" href="/vacancies?sort_column=expires_on&amp;sort_order=desc">Closing date <span class="sr-only">descending</span></a>
                    <a class="sortby--desc" aria-selected="false" role="button" tabindex="-1" href="/vacancies?sort_column=publish_on&amp;sort_order=desc">Published date <span class="sr-only">descending</span></a>
                </div>
                {% endif %}
            </div>

            <div class="map {% if query.show_map != 1 %}hidden{% endif %}">
                {% include "includes/map.html" %}
            </div>

            {% include "includes/search_alert.html" %}
            <ul class="vacancies {% if query.show_map == 1 %}hidden{% endif %}" id="vacancies">
                {% for job in vacancies | sort(vacancies, false, false, 'score') %}
                {% set school = json.schools[job.school_id] %}
                <li itemscope itemtype="http://schema.org/JobPosting" class="margin-top padding-bottom">
                    {% if school.logo %}
                    <img src="/public/images/school_logos/{{ school.logo }}" alt="{{ school.name }} logo" class="school_logo" role="presentation">
                    {% endif %}
                    <h2 class="job-title">
                        <a href="{{ job.slug | url('vacancies') }}" title="{{ job.title }}" itemprop="url" >
                            <span itemprop="title">{{ job.title }}</span>
                        </a>
                    </h2>
                    <p class="job-location">
                        <span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
                            {% if school.logo %}
                                <meta itemprop="logo" content="{{ url }}/public/images/school_logos/{{ school.logo }}">
                            {% endif %}
                            <span itemprop="name">{{ school.name }}</span></span>,
                        <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
                            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <meta itemprop="streetAddress" content="{{ school.address }}" />
                                <meta itemprop="postalCode" content="{{ school.post_code }}" />
                                <span itemprop="addressLocality">{{ school.town }}</span>, <span itemprop="addressRegion">{{ school.region }}</span>
                            </span>
                            <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="{{ school.lat }}" />
                                <meta itemprop="longitude" content="{{ school.lng}}" />
                            </span>
                        </span>
                    </p>
                    <dl>
                        <dt>Annual salary</dt>
                        <dd class="double">
                            <span itemprop="baseSalary" itemscope itemtype="http://schema.org/MonetaryAmount">

                                <span itemprop="currency" content="GBP">£</span><span itemprop="minValue" content="{{ job.salary_min }}">{{ job.salary_min | number }}</span> <span aria-label="to">&ndash;</span>
                                £<span itemprop="maxValue" content="{{ job.salary_max }}">{{ job.salary_max | number }}</span>
                            </span>
                        </dd>
                        <dt>Closing date</dt>
                        <dd itemprop="validThrough" content="{{ job.closes_at }}">{{ job.closes_at | date }}</dd>
                        <dt>Posted on</dt>
                        <dd itemprop="datePosted" content="{{ job.posted_at }}">{{ job.posted_at | date }}</dd>
                        <dt>Contract</dt>
                        <dd itemprop="employmentType">{{ job.contract_type }}</dd>
                        <dt>Start date</dt>
                        <dd>{{ job.starts_at | date }}</dd>
                    </dl>
                    <meta itemprop="educationRequirements" content="{{ job.education_requirements }}" />
                    <meta itemprop="experienceRequirements" content="{{ job.experience_requirements }}" />
                    <meta itemprop="description" content="{{ job.headline }}" />
                    <meta itemprop="industry" content="Education" />
                </li>
                {% else %}
                <li class="margin-top">No vacancies found. Try expanding your search.</li>
                {% endfor %}
            </ul>
            {% if max > 9 and query.show_map != 1  %}
                <nav class="govuk-previous-and-next-navigation" role="navigation" aria-label="Pagination">
                    <ul class="group">
                        <li class="next-page">
                            <a href="#" rel="next">
                                <span class="pagination-part-title">Next page</span>
                                <span class="pagination-label">2 of 3</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}


