{% extends "layout.html" %}

{% block page_title %}
  {{ vacancy.title }}
{% endblock %}

{% block content %}
{% import "includes/macros/apply_now_button.html" as apply_now %}
<main id="content" role="main" class="vacancy">
    {% include "includes/phase_banner_prototype.html" %}
    <a href="/vacancies" class="link-back">Back</a>
    <div id="apply-button-top">
        {{ apply_now.button(vacancy.slug) }}
    </div>
    <h1 class="heading-large margin-top">
        {{ vacancy.title }}
        <span class="heading-secondary">{{ vacancy.school.name }}, {{ vacancy.school.town }}, {{ vacancy.school.region }}</span>
    </h1>
    <div class="grid-row margin-top">
        <div class="column-two-thirds">
            <p class="lede">
                {{ vacancy.headline }}
            </p>
            <h3 class="heading-medium">Job description</h3>
            <div class="rich-text">{{ vacancy.description | safe }}</div>
            <h3 class="heading-medium">Essential Requirements</h3>
            <p>{{ vacancy.experience_requirements }}</p>
            <h3 class="heading-medium">Education</h3>
            <p>{{ vacancy.education_requirements }}</p>
            {% if vacancy.qualifications %}
                <h3 class="heading-medium">Qualifications</h3>
                <p>{{ vacancy.qualifications }}</p>
            {% endif %}
            {% if vacancy.experience %}
                <h3 class="heading-medium">Experience</h3>
                <p>{{ vacancy.experience }}</p>
            {% endif %}
            {% if vacancy.benefits %}
                <h3 class="heading-medium">Benefits</h3>
                <p>{{ vacancy.benefits }}</p>
            {% endif %}

            <div id="apply-button-bottom">
                {{ apply_now.button(vacancy.slug) }}
            </div>
            <details style="margin-top: 40px">
                <summary><span class="summary">Are you a recruiter? You can contact the school about this vacancy</span></summary>
                <div class="panel panel-border-narrow">
                    <p>
                        If you’re a recruiter or an agency and you have candidates for this role you may
                        <a href="#contact-school">contact the school</a>.
                    </p>
                </div>
            </details>
        </div>
        <div class="column-one-third vacancy-metadata">
            <aside class="padding">
                <dl>
                    <dt>Annual pay</dt>
                    <dd>£{{ vacancy.salary_min | number }} - £{{ vacancy.salary_max | number }}</dd>
                    <dt>Working pattern</dt>
                    <dd>{{ vacancy.contract_type | default('Full time') }}</dd>
                    {% if vacancy.pay_scale %}
                    <dt>Pay scale</dt>
                    <dd>{{ vacancy.pay_scale }}</dd>
                    {% endif %}
                    <dt>Closing date</dt>
                    <dd>{{ vacancy.closes_at | date }}</dd>
                    <dt>Start date</dt>
                    <dd>{{ vacancy.starts_at | date }}</dd>
                    <dt>Posted on</dt>
                    <dd>{{ vacancy.posted_at | date }}</dd>
                    {% if vacancy.main_subject %}
                        <dt>Main subject</dt>
                        <dd>{{ vacancy.main_subject }}</dd>
                    {% endif %}
                    <dt>Reference number</dt>
                    <dd>{{ vacancy.reference_no }}</dd>
                </dl>
            </aside>
        </div>
    </div>
    <hr>

    <div class="grid-row school_details">
        <div class="column-two-thirds ">
            {% include "includes/school_details.html" %}
        </div>
        <div class="column-one-third">
            {% if vacancy.school.logo %}
            <img src="/public/images/school_logos/{{ vacancy.school.logo }}" alt="{{ vacancy.school.name }} logo" class="school_logo">
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}


