%banner {
  border: 5px solid;
  margin: $gutter 0 0 0;
  padding: $gutter-half;
  @include media(mobile) {
    margin: 0;
  }
  p {
    font-size: 1.2em;
    line-height: 1.25;
    font-weight: bold;
    margin: 0;
  }
}
.banner {
  &-success {
    @extend %banner;
    color: $green;
    border-color: $green;
  }
}
