.vacancy {
  &-wrapper {
    position: relative;
  }
  &-metadata {
    aside {
      background-color: $panel-colour;
    }
    dl {
      dt {
        font-weight: 700;
      }
      dd {
        margin-bottom: $gutter-half;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
.alternative-format {
  font-size: 13px;
  max-width: 25em;
  @include media(mobile) {
    max-width: none;
  }
}
#apply-button {
  &-top {
    position: absolute;
    top: 0;
    right: 0;
    @include media(mobile) {
      position: relative;
    }
  }
  &-bottom {
    margin-top: $gutter;
  }

}
#apply-button-top {
  text-align: right;
  .alternative-format {
    text-align: right;
    @include media(mobile) {
      text-align: left;
    }
  }
}
