.vacancy {
  &-metadata {
    aside {
      background-color: $panel-colour;
    }
    dl {
      dt {
        font-weight: 700;
      }
      dd {
        margin-bottom: $gutter-half;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
.alternative-format {
  font-size: 13px;
  max-width: 25em;
}
#apply-button {
  &-top {
    float:right;
    margin-top: 55px;
  }
  &-bottom {
    margin-top: $gutter;
  }

}
#apply-button-top {
  text-align: right;
  .alternative-format {
    text-align: right;
  }
}
