.vacancies {
  .job-title {
    font-weight: 700;
    font-size: 22px;
    a {
      text-decoration: none;
    }
  }
  .job-location {
    font-weight: 700;
    margin: 0 0 $gutter-half 0;
  }
  li {
    border-bottom: 1px solid $grey-3;
    .school_logo{
      height: 60px;
      float:right;
    }
    dl {
      font-size: 90%;
    }
    dt, dd {
      display: inline-block;
      margin-bottom: 4px;
    }
    dt {
      width:20%;
      color: $secondary-text-colour;
    }
    dd {
      width:25%;
      &.double {
        width:70%;
      }
    }
  }

}
